<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @schedule.end %>
</p>

<p>
  <strong>Non dtop:</strong>
  <%= @schedule.non_dtop %>
</p>

<p>
  <strong>T arrive:</strong>
  <%= @schedule.t_arrive %>
</p>

<p>
  <strong>Day:</strong>
  <%= @schedule.day %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
